{% extends 'base.html' %}
{% load static %}
{% block title %}Game's Blog{% endblock %}
        {% block contents %}
        <!-- Page Header-->
        <main class="masthead" style="background-image: url({% static 'assets/img/wakuao.png' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{object.title}}</h1>
                            <div class="row gx-4 gx-lg-5 justify-content-center" style="background-image: url({% static 'assets/img/white_01.jpg' %})">
                                <p>{{object.contents}}</p>
                                {% if object.image1 %}
                                    <p><img src="{{object.image1.url}}" width="590px" height="auto"></img></p>
                                {% endif %}
                                {% if object.image2 %}
                                    <p><img src="{{object.image2.url}}" width="590px" height="auto"></p>
                                {% endif %}
                                {% if request.user == object.user %}
                                <form method="POST">
                                    <a href="{% url 'gameapp:game_delete' object.pk %}" 
                                    class="btn btn-primary my-2">削除する</a> 
                                {% endif %}
                                <span class="meta">
                                    <a href="{% url 'gameapp:index' %}">Game Blog</a><br>
                                    {{object.posted_at}}に投稿/カテゴリ:
                                    {{object.category}}
                                </span>
                                <h3 class="comment-title">コメント</h3>
                                <a href="{% url 'gameapp:comments' object.pk %}"
                                class="btn btn-primary my-2">コメントする</a>
                                <!--コメント-->
                                {% for comment in object.comment_set.all %}
                                <div class="comment-list">
                                    <div class='border-bottom'>{{ comment.user }}：{{ comment.created_at }}</div>
                                    <!--改行しないようlinebreaksを設定,URL要素に<a>要素を設定-->
                                    <div class='mt-2'>{{ comment.text | linebreaks | urlize }}</div>
                                </div>
                                {% empty %}
                                    <p>コメントはありません</p>
                                {% endfor %}
                                <a href="{% url 'gameapp:comments' object.pk %}"
                                class="btn btn-primary my-2">コメントする</a>
                            </div>

                    </div>
                </div>
            </div>
        </main>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{object.content}}</p>
                    </div>
                </div>
            </div>
        </article>
        <hr>
        {% endblock %}
